body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Quicksand", sans-serif !important ;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  font-size: 1.5rem;
}

.white-background {
  background: white;
}

.dark-color {
  color: #1c3835;
  background-color: #003740;
}

.light-color {
  color: #000000;
  background-color: #d0a151;
}
/* light teal: #006e80 faint gold: #b49753 light gold: #beb18a*/
.light-teal {
  color: #006e80 !important;
}

.font-smaller {
  font-size: smaller;
}

.big-button {
  background-color: #006e80;
  color: white;
}

.nav-item {
  text-decoration: none;
  color: #b49753;
  font-size: smaller;
}
.nav-item:hover,
.nav-item:focus-visible {
  text-decoration: underline;
  text-underline-offset: 50%;
  font-weight: bold;
  color: #b49753;
}
.nav-item:active {
  text-decoration: none;
  font-weight: bold;
  color: #b49753 !important;
}
.active-nav-item {
  text-decoration: underline;
  text-underline-offset: 50%;
  font-weight: bold;
}

.nav-item-symbol {
  text-decoration: none;
  color: #b49753;
  font-size: smaller;
}

.min-height-300-px {
  min-height: 300px;
}

.height-500-px {
  height: 500px;
}

.mt-neg-200-px {
  margin-top: -200px;
}

.white-link {
  color: white;
}
.white-link:hover {
  color: #b49753;
}

.subtle-link {
  color: inherit;
  text-decoration: none;
}
.subtle-link:hover,
.subtle-link:active {
  color: floralwhite;
  text-decoration: underline;
}

.Layout-header {
  height: 275px;
  text-align: center;
}
.Layout-header h1 {
  font-size: 36px;
}
.Layout-header h1 + p {
  font-size: 18px;
}
.Layout-sideBySide {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.Layout-sideBySide p {
  flex: 1 0;
  padding: 12px 8px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Layout-sideBySide p:first-child {
  border-right: 1px solid white;
}
.Layout-sideBySide p:last-child {
  border-left: 1px solid white;
}
@media (min-width: 992px) {
  .Layout-header {
    height: 500px;
  }
  .Layout-header h1 {
    font-size: 50px;
  }
  .Layout-sideBySide p {
    font-size: 24px;
  }
}

.rsvp-embed {
  display: block;
  width: 100%;
  max-width: 750px;
  border: none;
  height: 1000px;
  margin: 0 auto;
}

.slideshow {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.slideshow > div {
  padding-bottom: 59.27%;
  position: relative;
}

.slideshow iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
