body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Quicksand", sans-serif !important ;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-color {
  color: #1c3835;
  background-color: #003740;
}

.light-color {
  color: #006e80;
  background-color: #006e80;
}

.min-height-300-px {
  min-height: 300px;
}

.height-500-px {
  height: 500px;
}

.mt-neg-200-px {
  margin-top: -200px;
}
